.footer {
    margin-bottom: 24px;
   
    border-radius: 6px;
  
    &__wrapper{
        background-color: $honeydew;
    padding: 32px;
    border-radius: 10px;
    }
    .footer-info {
        display: flex;
        justify-content: space-between;
        gap: 72px;

        &__subscribe {
            width: 100%;

            p {
                padding-top: 16px;
                padding-bottom: 16px;
            }
            div {
                display: flex;
                align-items: center;
                gap: 8px;
            }
            input {
                max-width: 586px;
                width: 100%;
                padding: 28px 0px 28px 16px;
                @include BodyLargeMedium;
                border: 1px solid $frenchGrey;
                border-radius: 6px;
            }
        }
        &__subscribe-button {
            @include Body-Large-Bold;
            background-color: $aquaGreen;
            padding: 16px 25px;
            max-width: 148px;
        }
        &__subscribe-button-mbl {
            display: none;
        }
        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
            height: fit-content;
            flex-wrap: wrap;
            h3 {
                padding-bottom: 16px;
            }
            ul {
                display: flex;
                flex-direction: column;
                max-width: 225px;
            }
        }
        @include media-down(lg /* 1024px */) {
            flex-direction: column;
            gap: 24px;

            &__subscribe {
                input {
                    max-width: 100%;
                }
            }
        }
        @include media-down(sm) {
            ul {
                display: flex;
                width: 100%;
                justify-content: space-between;
                height: fit-content;
                flex-direction: column;
                gap: 24px;
                flex-wrap: wrap;
                h3 {
                    padding-bottom: 16px;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    max-width: 225px;
                    gap: 8px;
                }
            }

            input {
                display: none;
            }
            &__subscribe-button {
                display: none;
            }
            &__subscribe-button-mbl {
                display: flex;
                justify-content: center;
                width: 100%;
                max-width: 100%;
                @include Body-Large-Bold;
                background-color: $aquaGreen;
                padding: 16px 0px;
            }
        }
    }
    .footer-policy {
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        gap: 16px;
        justify-content: space-between;
        padding: 32px 0px;
        li {
            color: $regentGrey;
        }
    }
    .footer-socials {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;
        img {
 min-width: 10px;
            padding: 14px;
            border-radius: 10px;
            background: $pixieGreen;
        }
        ul {
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
            li {
                @include BodyLargeMedium;
            }
        }
        div {
            display: flex;
            gap: 8px;
        }
    }
}
