.partner-program {
    padding-top: 200px;
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 48px;
    }
    &__gradient {
        position: absolute;
        z-index: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 10px;
    }
    &__desctop{
        @include Promo-Small;
        font-weight: 700;
    }
    &__title-mbl{
        @include Promo-Small;
        font-weight: 700;
        display: none;
    }

&__desctop{
    @include Promo-Standard;
    font-weight: 700;
}   

 &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        z-index: 2;
      
        div {
            position: relative;
            width: 161px;
            height: 56px;
            img {
                position: absolute;

                object-fit: cover;
                max-width: 308px;
                top: -180px;
                left: -55px;
            }
        }
        @include media-down(md){
            div {
          
                img {
           
                    top: -185px;
              max-width: 250px;
              left: -20px;
                }
            }
        }
        @include  media-down(sm){
            div {
          
                img {
           
                    top: -108px;
              max-width: 177px;
              left: 5px;
                }
            }
          }
    }
    @include media-down(lg){
        &__desctop{
            @include Promo-Small;
            font-weight: 700;
        }   
    }
    @include media-down(md){
        &__title{
            display: flex;
            flex-direction: column;
       justify-content:center;
        }
        &__desctop{
       display: none;
        }
        &__title-mbl{
            display: block;
            text-align: center;
        }
      }
      @include  media-down(sm){
        &__title-mbl{
            display: block;
            text-align: center;
            @include Promo-xxSmall;
           font-weight: 700;
        }
        
      }

    p {
        z-index: 3;
        margin-top: 32px;
        @include BodyLargeMedium;
        text-align: center;
    }
    button {
        z-index: 3;
        margin-top: 24px;
        @include Body-Large-Bold;
        background-color: $richBlack;
        color: $honeydew;
        padding: 16px 20px;
        border-radius: 8px;
        @include media-down(md){
          width: 100%;
        }
    }
}
