.start-working{
    &__wrapper{
        display: flex;
justify-content: center  ;
flex-direction: column
}
    h1{
     
        @include Promo-Standard;
        font-weight: 700;
 margin: 0 auto;
    }
    ul{
        display: flex;
        gap: 16px;
        margin-top: 48px;
        li{
            max-width: 522px;
            min-width: 453px;
            max-height: 480px;
            min-height: 453px;
display: flex;
flex-direction: column;
justify-content: space-between;
background: $richBlack;
z-index: 0;
border-radius: 20px;
padding: 32px;
color: $honeydew;
p{
    padding-top: 8px;
    @include BodyLargeMedium;
}
h2{
    padding-top: 24px;
    @include Heading-Large;
}
        }
     
    }
    &__line-product {
        position: relative;
        width: 100%;
        background-color: $sherpaBlue;
        height: 6px;
        border-radius: 10px;
        z-index: 0;
        
        &::after {
          content: ""; 
          position: absolute;
          width: 100%;
          height: 6px;
          border-radius: 6px;
          background-color: $deepAqua;
          z-index: 1;
          top: 0;
          left: 0;
        }
      }
    
    
}