<section class="partner-program">
    <div class="container">
        <div class="partner-program__wrapper">
            <img
                src="../../img/favicon/gradient.png"
                alt=""
                class="partner-program__gradient"
            />

            <div class="partner-program__title title">
                <h2 class="title__desctop">ПАРТНЁРСКАЯ</h2>
                <div><img src="../../img/favicon/speaker.png" alt="" /></div>
                <h2 class="title__desctop">ПРОГРАММА</h2>
                <h2 class="title__title-mbl">ПАРТНЁРСКАЯ  ПРОГРАММА</h2>
            </div>
            <p>
                Рекомендуйте EasyStaff Payroll и зарабатывайте 10% от комиссии
                заказчика на протяжении года.
            </p>
            <button>Зарегистрироваться</button>
        </div>
    </div>
</section>
