<section class="start-working">
    <div class="container">
        <div class="start-working__wrapper">
            <h2>КАК НАЧАТЬ РАБОТАТЬ С EASYSTAFF</h2>
            <ul>
                <li>
                    <div>
                        <div class="start-working__line-product"></div>
                        <h2>Выберите продукт</h2>
                        <p>
                            Определите продукт: Payroll для расчётов с
                            сотрудниками, Invoice для выставления счетов или
                            Connect для поиска людей
                        </p>
                    </div>
                    <div class="start-working__img">
                        <img src="../../../img/icon/buttonPayroll.svg" alt="" />
                        <img src="../../../img/icon/arrowButton.svg" alt="" />
                        <img src="../../../img/icon/smileButton.svg" alt="" />
                        <img src="../../../img/icon/invoiceButton.svg" alt="" />
                        <img src="../../../img/icon/valutButton.svg" alt="" />
                        <img src="../../../img/icon/connectButton.svg" alt="" />
                        <img src="../../../img/icon/searchButton.svg" alt="" />
                        <img src="../../../img/icon/starButton.svg" alt="" />
                    </div>
                </li>
                <li>
                    <div>
                        <div class="start-working__line-product"></div>
                        <h2>Регистрируйтесь</h2>
                        <p>
                            Создайте аккаунт на платформе EasyStaff и настройте свой личный кабинет, указав необходимые для работы данные
                        </p>
                    </div>
                    <div class="start-working__img">
                <img src="" alt="" class="start-working__img-desctop">
                <img src="" alt="" class="start-working__img-mbl">
                    </div>
                </li>
                <li>
                    <div>
                        <div class="start-working__line-product"></div>
                        <h2>Используйте</h2>
                        <p>
                            Откройте для себя международное развитие без границ, эффективно управляя задачами, платежами и наймом.
                        </p>
                    </div>
                    <div class="start-working__img">
                <img src="../../../img/favicon/countries.png" alt="" class="start-working__countries">
            <button>Начать</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
