<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__info footer-info">
                <div class="footer-info__subscribe">
                    <h3>Подписывайтесь</h3>
                    <p>
                        Подпишись на обновление, а не то мы тебе такой скандал
                        учиним!
                    </p>
                    <div>
                        <input type="text" placeholder="Enter your email" />
                        <button
                            class="footer-info__subscribe-button"
                        >
                            Подписаться
                        </button>
                        <button class="footer-info__subscribe-button-mbl">
                            Подписаться на рассылку
                        </button>
                    </div>
                </div>
                <ul>
                    <li>
                        <h3>Продукты</h3>
                        <ul>
                            <li><a href="">Payroll</a></li>
                            <li><a href="">Invoice</a></li>
                            <li><a href="">Connerct</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="">Информация</a></h3>
                        <ul>
                            <li><a href="">Help Center</a></li>
                            <li><a href="">Блог</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="">Контакты</a></h3>
                        <ul>
                            <li>Рабочее время поддержки:8.00 – 17.00 UTC +2</li>
                            <li><a href="mailto:hi@easystaff.io">hi@easystaff.io</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="footer__policy footer-policy">
                <li>Условия соглашения для заказчика</li>
                <li>Условия соглашения для фрилансера</li>
                <li>Политика конфиденциальности</li>
                <li>Политика отмены и возвратов</li>
            </ul>
            <div class="footer__socials footer-socials">
                <ul>
                    <li>EasyStaff UAB</li>
                    <li>Code 305643163</li>
                    <li>Vilnius, Labdarių g. 6A-18, LT-01120, Lithuania</li>
                </ul>
                <div>
                    <a href="">
                        <button>
                            <img src="../../img/icon/facebook.svg" alt="" />
                        </button>
                    </a>
                    <a href="">
                        <button>
                            <img src="../../img/icon/linkedln.svg" alt="" />
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

 <script src="js/app.bundle.js"></script>
</body>
</html>
 
