<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__info footer-info">
                <div class="footer-info__subscribe">
                    <h3>Подписывайтесь</h3>
                    <p>
                        Подпишись на обновление, а не то мы тебе такой скандал
                        учиним!
                    </p>
                    <div>
                        <input type="text" placeholder="Enter your email" />
                        <button
                            class="btn btn-m btn--default footer-info__subscribe-button"
                        >
                            Подписаться
                        </button>
                        <button class="btn btn-m btn--default">
                            Подписаться на рассылку
                        </button>
                    </div>
                </div>
                <ul>
                    <li>
                        <h3>Продукты</h3>
                        <ul>
                            <li>Payroll</li>
                            <li>Invoice</li>
                            <li>Connerct</li>
                        </ul>
                    </li>
                    <li>
                        <h3>Информация</h3>
                        <ul>
                            <li>Help Center</li>
                            <li>Блог</li>
                        </ul>
                    </li>
                    <li>
                        <h3>Контакты</h3>
                        <ul>
                            <li>Рабочее время поддержки:8.00 – 17.00 UTC +2</li>
                            <li>hi@easystaff.io</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="footer__policy">
                <li>Условия соглашения для заказчика</li>
                <li>Условия соглашения для фрилансера</li>
                <li>Политика конфиденциальности</li>
                <li>Политика отмены и возвратовdd</li>
            </ul>
            <div class="footer__socials footer-socials">
                <ul class="footer-socials__about">
                    <li>EasyStaff UAB</li>
                    <li>Code 305643163</li>
                    <li>Vilnius, Labdarių g. 6A-18, LT-01120, Lithuania</li>
                </ul>
                <div class="footer-socials__network">
                    <a href="">
                        <button>
                            <img src="../../img/icon/facebook.svg" alt="" />
                        </button>
                    </a>
                    <a href="">
                        <button>
                            <img src="../../img/icon/linkedln.svg" alt="" />
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- <script src="js/app.bundle.js"></script>
</body>
</html>
 -->
