<section class="partner-program">
    <div class="container">
        <div class="partner-program__wrapper">
            <img
                src="../../img/favicon/gradient.png"
                alt=""
                class="partner-program__gradient"
            />

            <div class="partner-program__title">
                <h1 class="partner-program__desctop">ПАРТНЁРСКАЯ</h1>
                <div><img src="../../img/favicon/speaker.png" alt="" /></div>
                <h1 class="partner-program__desctop">ПРОГРАММА</h1>
                <h1 class="partner-program__title-mbl">ПАРТНЁРСКАЯ  ПРОГРАММА</h1>
            </div>
            <p>
                Рекомендуйте EasyStaff Payroll и зарабатывайте 10% от комиссии
                заказчика на протяжении года.
            </p>
            <button>Зарегистрироваться</button>
        </div>
    </div>
</section>
