<section class="start-working">
    <div class="container">
        <div class="start-working__wrapper">
            <h1>КАК НАЧАТЬ РАБОТАТЬ С EASYSTAFF</h1>
            <ul>
                <li>
                    <div>
                        <div class="start-working__line-product"></div>
                        <h2>Выберите продукт</h2>
                        <p>Определите продукт: Payroll для расчётов с сотрудниками, Invoice для выставления счетов или Connect для поиска людей</p>
                    </div>
                    <div>
 
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
