$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1500px,
);

$font: "Roboto", -apple-system, system-ui, sans-serif;

$royalPurple :#460064;
$downriver: #011E50;
$richBlack: #00323C;
$sherpaBlue: #004857;
$deepAqua: #00738A;
$regentGrey: #80989D;
$frenchGrey: #B4C2C5;
$platinum: #DCE3E4;
$greenWhite: #E6EBE6;
$aquaGreen: #00E1A5;
$greenishTurquoise: #00F5B4;
$lightTurquoise: #6AF6D0;
$snowFlurry: #E6FACD;
$honeydew: #F5FDEB;
$eagle: #A9C49E;
$coriander: #B8D2B1;
$pixieGreen: #C3DCB9;
$carminePink: #E44141;
$mistyRose: #FBE4E4;
$darkMintGreen: #27BE54;
$peppermint: #D9F7E2;
$dazzleRose: #FF24C5;
$neonFuchsia: #FF55D2;
$lavenderRose: #FF99E4;
$cerulean: #00A9EB;
$skyBlue: #00B4FA;
$turquoiseBlue: #66D2FC;
$dirtyYellow: #BACC00;
$peridot: #D2E600;
$yellow: #E4F066;
$seashell: #EEF1F2;
